@import "./reset";
@import "./variables";
@import "./App";
@import "./NavBar.scss";
@import "./ArticlesContainer.scss";
@import "./SearchBar.scss";


body,
html {
  height: 100%;
  font-family: 'Courier Prime';
  background-color: $lightBrown;
  color: $darkBrown;
}

h1 {
  font-family: 'Major Mono Display'
}

h2 {
  color: $darkBrown
}


// font-family: 'Bungee Shade',
// cursive;
// font-family: 'Courier Prime',
// monospace;
// font-family: 'Major Mono Display',
// monospace;
// font-family: 'Righteous',
// cursive;