@import "./reset";
@import "./variables";
@import "./App";


body,
html {
  height: 100%;
  font-family: 'Courier Prime';
  // color: $offWhite;
  // background-color: $darkBrown;
}

h1 {
  font-family: 'Major Mono Display'
}


// font-family: 'Bungee Shade',
// cursive;
// font-family: 'Courier Prime',
// monospace;
// font-family: 'Major Mono Display',
// monospace;
// font-family: 'Righteous',
// cursive;