@import "./reset";
@import "./variables";
@import "./App";
@import "./ArticleCard.scss";
@import "./ArticlesContainer.scss";
@import "./Loader.scss";
@import "./NavBar.scss";
@import "./SingleArticle.scss";

body,
html {
  height: 100%;
  font-family: 'Courier Prime';
  background-color: $lightBrown;
  color: $darkBrown;
}

h1 {
  font-family: 'Major Mono Display'
}

h2 {
  color: $darkBrown
}

button:hover,
a:hover {
  cursor: pointer;
}

.go-home-btn {
  margin-top: 1%;
}

.results {
  text-align: center;
  font-size: 1.5em;
  margin-top: 3%
}